@import "email";
@import "quiz";
@import url(//fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700);

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 14px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #000;
}

a {
  color: #ccc;
}

*[data-href] {
  cursor: pointer;
}

.content .title {
  text-align: center;
  font-size: 2.0rem;
  font-weight: 600;
  padding-bottom: 30px;
}

.group {
  position: relative;
}

.underline {
  position: relative;
  display: block;
  width: 100%;
  &:before, &:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #a483ae;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  &:before {
    left: 50%;
  }
  &:after {
    right: 50%;
  }
}

.tooltip {
  width: auto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: none;
  font-size: 0.8em;
  visibility: hidden;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  text-align: center;
  opacity: 0;
  z-index: 999;
  padding: 3px 8px;
  position: absolute;
  top: auto;
  left: auto;
  bottom: auto;
  cursor: default;
  -webkit-transition: all 240ms ease-in-out;
  -moz-transition: all 240ms ease-in-out;
  -ms-transition: all 240ms ease-in-out;
  -o-transition: all 240ms ease-in-out;
  transition: all 240ms ease-in-out;
}

.on-focus .tooltip {
  margin-top: -20px;
}

*:not(.on-focus):hover > .tooltip, .on-focus input:focus + .tooltip {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 240ms ease-in-out;
  -moz-transition: all 240ms ease-in-out;
  -ms-transition: all 240ms ease-in-out;
  -o-transition: all 240ms ease-in-out;
  transition: all 240ms ease-in-out;
}

*:not(.on-focus) > .tooltip {
  display: block;
}

.on-focus > {
  .tooltip {
    display: block;
    z-index: -1;
  }
  input:focus + .tooltip {
    z-index: 1;
  }
}

*:not(.on-focus) > .tooltip, .on-focus > .tooltip {
  bottom: auto;
}

*:not(.on-focus):hover > .tooltip, .on-focus > input:focus + .tooltip {
  bottom: auto;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  color: #fff;
}