@import url(http://fonts.googleapis.com/css?family=Lato);

@font-face {
	font-family: Flat-UI-Pro-Icons;
	src: url(../../assets/font/flat-ui-icons-regular.woff);
}

html,
body {
	margin: 0;
	padding: 0;
	background: url('../img/imgBackground.png') fixed no-repeat bottom right;
}

#formModal {
	position: fixed;
	min-height: 150px;
	/*background: rgba(236, 240, 241, 0.5);*/
	background: rgba(255,255,255,0.5);
	border-radius: 25px;
}

@media(max-width: 720px) {
	#formModal {
		top: 25%;
		left: 25%;
		width: 50%;
	}

	.formLogin, .formRegister {
		width: 90%;
		min-height: 150px;
		background: inherit;
		border-radius: 0px;
		margin: 0 auto;
		padding: 10px;
	}
}

@media(min-width: 768px) {
	#formModal {
		top: 25%;
		left: 35%;
		width: 30%;
	}

	.formLogin, .formRegister {
		width: 75%;
		min-height: 150px;
		background: inherit;
		border-radius: 0px;
		margin: 10px auto;
		padding: 10px;
	}
}

input:focus {
	-webkit-appearance: none;
	-webkit-box-shadow: none;
	outline:none;
}

.errorMessage {
	font-weight: bold;
	color: #ff0000;
}

.btn-UQ {
	display: inline-block;
	color: #FFF;
	cursor: pointer;
	font-family: 'Lato';
	text-decoration: none;
	font-weight: 600;
	width: 100%;
	height: 40px;
	border: 0 none;
	padding: 4px;
	margin: 10px 0 10px 0;
	border-radius: 0;
	background-color: #49075e;
}
.btn-uq:hover {
	background-color: #820ca7;
	transition-duration: .5s;
}

.input-group input.text-input {
	height: 40px;
	border-radius: 0px;
	font-family: "Lato";
	font-size: 16px;
	font-weight: 600;
}

.input-group input.text-input:focus {
	border-color: #49075e;
	transition: border-color ease-in-out .15s,
	box-shadow ease-in-out .15s,
	color ease-in-out .15s;
	color: #49075e;
}

.input-group input.text-input:focus + label {
	color: #49075e;
}

.login-icon {
	width: 20px;
	height: 20px;
	position: relative;
	top: 20px;
	left: 35px;
	font-family: Flat-UI-Pro-Icons;
	color: #BFC9CA;
	transition: border-color ease-in-out .15s,
	box-shadow ease-in-out .15s,
	color ease-in-out .15s;
}
.icon-lock:before {
	content: "\e633";
}
.icon-person:before {
	content: "\e631";
}*/