@import url(http://fonts.googleapis.com/css?family=Lato);

@font-face {
	font-family: Flat-UI-Pro-Icons;
	src: url(../../assets/font/flat-ui-icons-regular.woff);
}

html,
body {
	margin: 0;
	padding: 0;
	background: url('../img/imgBackground.png') fixed no-repeat bottom right;
}

#formModal {
	position: fixed;
	min-height: 150px;
	/*background: rgba(236, 240, 241, 0.5);*/
	background: rgba(255,255,255,0.5);
	border-radius: 25px;
}

@media(max-width: 720px) {
	#formModal {
		top: 25%;
		left: 25%;
		width: 50%;
	}

	.formLogin, .formRegister {
		width: 90%;
		min-height: 150px;
		background: inherit;
		border-radius: 0px;
		margin: 0 auto;
		padding: 10px;
	}
}

@media(min-width: 768px) {
	#formModal {
		top: 25%;
		left: 35%;
		width: 30%;
	}

	.formLogin, .formRegister {
		width: 75%;
		min-height: 150px;
		background: inherit;
		border-radius: 0px;
		margin: 10px auto;
		padding: 10px;
	}
}

input:focus {
	-webkit-appearance: none;
	-webkit-box-shadow: none;
	outline:none;
}

.errorMessage {
	font-weight: bold;
	color: #ff0000;
}

.btn-UQ {
	display: inline-block;
	color: #FFF;
	cursor: pointer;
	font-family: 'Lato';
	text-decoration: none;
	font-weight: 600;
	width: 100%;
	height: 40px;
	border: 0 none;
	padding: 4px;
	margin: 10px 0 10px 0;
	border-radius: 0;
	background-color: #49075e;
}
.btn-uq:hover {
	background-color: #820ca7;
	transition-duration: .5s;
}

.input-group input.text-input {
	height: 40px;
	border-radius: 0px;
	font-family: "Lato";
	font-size: 16px;
	font-weight: 600;
}

.input-group input.text-input:focus {
	border-color: #49075e;
	transition: border-color ease-in-out .15s,
	box-shadow ease-in-out .15s,
	color ease-in-out .15s;
	color: #49075e;
}

.input-group input.text-input:focus + label {
	color: #49075e;
}

.login-icon {
	width: 20px;
	height: 20px;
	position: relative;
	top: 20px;
	left: 35px;
	font-family: Flat-UI-Pro-Icons;
	color: #BFC9CA;
	transition: border-color ease-in-out .15s,
	box-shadow ease-in-out .15s,
	color ease-in-out .15s;
}
.icon-lock:before {
	content: "\e633";
}
.icon-person:before {
	content: "\e631";
}

/*.content,.footer {width:1080px;margin:0 auto;padding:0 5px;}
.content-inner {float:left;padding:0 5px;margin-bottom:25px;width:1080px;}
.header {width:100%;height:100px;margin-bottom:0px;background-color:#49075e;}
.nav {height:35px;width:100%;background-color: black;}
.uq-logo {width:180px;height:50px;background-image: url(../../assets/img/uq_logo.png);float:left;}
.logo {font-size:large;color:white;font-family:"Lato Black";font-weight:600;font-size:22px;padding:13px 21px;float:left;width:300px;float:left;}
.login {float:right;line-height:40px;}
.footer {/*border-top:1px solid #ddd;*//*clear:both;margin-top:25px;}
.footer p {color:#DDD;font-size:11px;font-family:tahoma;text-align:center;}
#map-canvas {width:620px;height:600px;float:left;border:1px solid #CCC;}
.topic-list {background-color:#4aa3df;float:left;width:200px;min-height: 400px;}
.slide-content{background-color: red;width:800px;height:500px;float:right;}
.slide-list {background-color:green;width:800px;height:150px;float:right;} 

.sidebar {width:400px;height:600px;border-top:1px solid #ccc;border-bottom: 1px solid #ccc; float:left;margin:0px 0px 5px 45px;padding:0;}
.pin_icon {width:21px;height:34px;margin:10px;float:left;}
.btn {font-size:15px;padding:5px 15px;border-radius:6px;}

.r_box {width:240px;float:left;margin-left:15px;}
.r_box a {width:240px;display:inline-block;color:blue;font-weight:600;font-size: 16px;text-decoration: none;}
.r_box a:hover {text-decoration: underline;}
.r_box a.btn {width:auto;background-color:#3498db;color:white;text-decoration:none;font-family:Tahoma,Arial;font-weight:400;margin-top:5px;}
.r_box a.btn:hover {background-color: #5dade2;}
.r_box span.address {color:#ccc;font-size:12px;font-family:'Open Sans';}
.sidebar ul { list-style:none;margin:0;padding:0;float:left;width:400px;}
.sidebar ul  li  {padding:10px 0;float:left;clear:both;font-family: 'Lato',Arial;font-weight: 300; border-bottom:1px dashed #eee;padding-bottom:20px;width:100%;}
.sidebar ul  li:hover {background-color:#f7f7f7;}
.sidebar ul  li img {float:left;margin-left:15px;border:1px solid #ccc;}

.login_bg {background-color: #49075e;}
.form-group {width:300px;min-height: 0px;position:relative;margin-top:10px;margin-bottom:10px;}
.form-group input[type="submit"] {width:250px;height:40px;border: 0 none; padding:4px;margin:5px 22px;border-radius: 0px;}
.err_msg {color:red;font-family: "Lato";width:250px;margin:5px 22px;display: inline-block;}

.btn {display:inline-block;color:white;cursor:pointer;font-family:'Lato';text-decoration:none;font-weight:600;} 
.btn-blue {background-color:#3498db;}
.btn-blue:hover {background-color:#4aa3df;transition-duration: .15s;}
.nav-bar {background-color: #34495e; min-height: 53px;margin-bottom: 30px;font-size: 16px;border: none;border-radius: 6px;width:1080px;margin:0 auto;}
.search-form {float:right;padding:9px 26px 9px 19px;width:200px;height:35px;}
.search-form input[type=text] {height:21px;padding:5px 10px;width:137px;border:2px solid #293A4A;background-color:#293A4A; border-top-left-radius: 6px;border-bottom-left-radius:6px;z-index:99;font-family: 'Lato';font-size: 14px;color:#3498db;font-weight: 600;}
.search-form input:focus {-webkit-appearance:none;-webkit-box-shadow: none;outline:none;border-color: #3498db;color:#3498db;} 
.search-form input:focus + button {border-bottom-color: #3498db;border-top-color: #3498db;border-right-color: #3498db;color:#3498db;cursor:pointer;}
.search-form input:focus + button > span {color:#3498db;}
.search-form input:focus, .search-form input:focus + button, .search-form input:focus + button > span {transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,color ease-in-out .15s;}
.search-form button {border:2px solid #293A4A;background-color: #293A4A;height:35px;padding:5px 10px;margin-left:-8px;border-bottom-right-radius: 6px;border-top-right-radius: 6px;z-index:0;border-left:0 none;}
.search-icon:before {content:"\e630";}
.search-icon {background-color:#293A4A;color:#526A82 ;font-family: 'Flat-UI-Pro-Icons';height:17px;}

.sidebar-admin {width:400px;float:right;}
.login-info {width:400px;padding:10px;float:left;}
.login-info dl {width:360px;float:left;font-family: 'Open Sans';font-size: 16px;font-weight: 600;color:#777;margin:0;padding:16px 16px;}
.login-info dl dt {width:60px;float:left;}
.login-info dl dd {width:200px;float:left;}
.icon-add:before {content:"\e608";}
.icon-edit:before {content:"\e628";}
.icon-delete:before {content:"\e639";}
.icon {font-family: Flat-UI-Pro-Icons;width:20px; height:20px;display:inline-block;text-align: center;vertical-align: middle;line-height:20px;}
.login-info dl.function {border-top:1px solid white;border-bottom: #aaa;background-color: #f7f7f7;cursor:pointer;}
.login-info dl.function dt {width:33px;line-height:23px;text-align: center;}
.login-info dl.function dd {margin-left: 0;}
.login-info dl.function:hover > dt,.login-info dl.function:hover > dd {color:#2ecc71;}

table {font-family: 'Open Sans';border-spacing: 0;padding:20px;width:600px;color:#555;border-right:1px dotted #e5e5e5;}
table th,table td {outline:0 none;margin:0;padding:8px;}
table td.action span{color:#777;display:none;cursor:pointer;}
table th {text-align: left;font-weight: 600;font-size: 18px;border-bottom: 2px solid #555;}
table .r_name {width:420px;}
table .r_no {width:30px;}
tbody tr:hover {background-color: #f8fcfd;transition-duration: .5s;}
tbody tr:hover span {display:inline-block;transition-duration: .5s;}
tbody tr.edit_r {background-color:#f8fcfd;display: none;}
table td.action span.icon-edit:hover {color:#2ecc71;}
table td.action span.icon-delete:hover {color:#c0392b;}

.editing {padding:2px 10px;}
.edit-form .form-group {width:500px;margin:5px 0;}
.edit-form .form-group label {width:70px;display:inline-block;}
.edit-form .form-group input.text-input {padding-left:10px;margin:5px 0;width:350px;}
.edit-form .form-group input[type=submit] {width:100px; margin:5px 0;}
.edit-form .form-group span.hide {margin-left:10px; padding-left:10px;cursor:pointer;}
.red-border {border: 2px solid red !important;}

.add-form {float:left;background-color:#f7f7f7;display:none;}
.add-form .form-group {width:387px;padding-left:5px;}
.add-form .form-group label {width:400px;display:inline-block;font-family: "Open Sans";}
.add-form .form-group input.text-input {padding-left:10px;margin:5px 0;width:380px;}

form#delete{display:none;}

.uq-login{width:700px; margin:0 auto;margin-top:150px;}

.effect7{position:relative;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;}
.effect7:before, .effect7:after{content:"";position:absolute; z-index:-1;-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);box-shadow:0 0 20px rgba(0,0,0,0.8);top:0;bottom:0;left:10px;right:10px;-moz-border-radius:100px / 10px;border-radius:100px / 10px;}
.effect7:after {right:10px;left:auto;-webkit-transform:skew(8deg) rotate(3deg); -moz-transform:skew(8deg) rotate(3deg);     -ms-transform:skew(8deg) rotate(3deg);     -o-transform:skew(8deg) rotate(3deg); transform:skew(8deg) rotate(3deg);}

em{
	font-style: italic;
}

strong{
	font-weight: bold;
}

iframe{
	background-color: #FFF;
}

input{
	margin: 0px 30px;
}

#content{
	background-color: #8AB8E6;
	margin: 100px auto;
	width: 700px;
	text-align: left;
	overflow: auto;
	padding-bottom: 61px;
}

#search-results ul{
	list-style-type: none;
}

#search-results li{
	font-weight: bold;
}

#search-results span{
	font-weight: normal;
}*/